.panel {
    display: flex; 
    flex-direction: row;
    width: 100vw; 
    height: 100vh;
    min-width: 900px; 
    min-height: 500px; 
    background: #D0D1DA; 
    border: 1px solid #D0D1DA;
}

.panel_socials {
    width: 50px; 
    height: 100%; 
    background: #D0D1DA; 
}

.panel_info_list {
    width: 250px; 
    height: 100%; 
    background: #F2F2F6; 
}

.panel_chat {
    width: calc(100% - 250px - 50px); 
    height: 100%; 
    background: #D0D1DA;  
}

@media (min-width: 1920px) {
    .panel_socials {
        width: 70px
    }

    .panel_info_list {
        width: 450px; 
    }

    .panel_chat {
        width: calc(100% - 450px - 70px);
    }
}